name: Docker Image CI

on:
  workflow_dispatch:
  push:
     branches: [ "main" ]
  pull_request:
     branches: [ "main" ]

jobs:

  build:

    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker
      uses: docker/setup-docker-action@v4

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: |
            ghcr.io/hqo998/SharePaste:latest
